<div class="member d-flex mt-48 ">
    <div class="mga d-flex">
        <h4 class="count"> 加入會員取得9折優惠</h4>
    <button>
        馬上註冊
    </button>
    </div>
    
</div>
<footer class="footer">
    <div class="footer-t d-flex justify-content-sb  mb-24">
        <img src="../assets/images/logo.svg" alt="">
        <div class="  pt-12 pb-12">
            <ul class="footer-t-r d-flex">
                <li><a href="./index.html" class="mr-40">商品列表</a></li>
                <li><a href="./brandstory.css">品牌故事</a></li>
            </ul>
            
        </div>
    </div>
    <div class="footer-b d-flex mt-32">
        <div class="copyright">

            <p class="mb-4">
                Copyright ©2025 URBNSTYLE 
            </p>
            <p>
                All Rights Reserved.
            </p>
            

        </div>
        

    </div>
    
</footer>