/* 引入字體 */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap'); */


/* 顏色 */


/*基本樣式*/
/* * {
  outline: 1px solid red;
} */

/*頁面樣式設定*/

.middle{
    width: 856px;
    margin: 0 auto;
}
@media screen and (max-width:992px){
    .middle{
        width: 100%;    
        padding-left: 12px;
        padding-right:12px ;  
    }

}

/*nav*/
.nav{
    max-width: 1296px;
    align-items: center;
    margin: 0 auto;
}
.nav-l{
    margin-right: auto;
}
.nav-r{
    padding-right: 12px;
}
@media screen and (max-width:576px){
    .dn{
        display: none;
    }

}
.header{
    background-image: url(/assets/images/hero.png);
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    padding: 152px 0;
    text-align: center;
}



.en-title{
    font-size: 28px;
}

.quote{
    width: 100%;
    border-radius: 12px;
    text-align: center;
}

.intro img{
    width: 1076px;
    margin-right: -110px;
    margin-left: -110px;
}

@media screen and (max-width:992px){
    .quote{
        width: calc(100% - 24px); 
        margin-left: 12px; 
        margin-right: 12px;          
    }


}
@media screen and (max-width:1100px){

    .intro img{
        width: calc(100% - 24px); 
        margin-left: 12px; 
        margin-right: 12px; 
    }
}


.line{
    border-bottom: 1px solid $neutral-300;
}


.history{
    border-left: 1px solid $neutral-900;
    padding-left:8px ;
}

.history-list{
    list-style-type: disc;
    padding-left: 24px;
}

.concept{
    padding-left: 12px;
    border-left: 3px solid $neutral-300;
}

.bi{
    padding-right: 8px;
    vertical-align: bottom;
}


.bg-neutrl-100{
    background-color: #F8F9FA;
}


