<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>


    <div class="container">
        <div class="hp d-flex pb-24">
            <a href="#" class="mr-12 n6"><span>首頁</span></a>
            <span class="mr-12 n3">/</span>
            <a href="#" class="mr-12 n6">女鞋</a>
            <span class="mr-12 n3">/</span>
            <a href="#">所有商品</a>
        </div>
        <h3 class="pb-24">
            女鞋
        </h3>



        <div class="product d-flex justify-content-sb mb-32">
            <div class="col-2 side-l">
                <a href="#" class="p4 pt-8 pb-8">所有商品</a>
                <ul>
                    <li class="pt-12 pb-12"><a href="#">慢跑鞋</a></li>
                    <li class="pt-12 pb-12"><a href="#">滑板鞋</a></li>
                    <li class="pt-12 pb-12"><a href="#">厚底鞋</a></li>
                    <li class="pt-12 pb-12"><a href="#">限定 / 聯名企劃</a></li>
                </ul>
            </div>

            <div class="col-10 px-12">
                <div class="row">
                    <div class=" col-4 col-sm-2">
                        
                        <a href="./product.html">

                            <div class="product-card mb-48" title="點我跳到產品詳情">
                                <img src="/assets/images/product.png" alt="PLATFORM 404" class="mb-12">
                                <h6 class="mb-4">PLATFORM 404</h6>
                                <p>NT$2,600</p>
                            </div>
                        </a>
                        
                    </div>

                    <div class=" col-4 col-sm-2">
                        <div class="product-card mb-48">
                            <img src="/assets/images/product-1.png" alt="PLATFORM 404" class="mb-12">
                            <h6 class="mb-4">PLATFORM 404</h6>
                            <p>NT$2,600</p>
                        </div>
                        
                    </div>
                    <div class=" col-4 col-sm-2">
                        <div class="product-card mb-48">
                            <img src="/assets/images/product-2.png" alt="VM001" class="mb-12">
                            <h6 class="mb-4">VM001</h6>
                            <p>NT$2,600</p>
                        </div>
                    </div>

                    <div class=" col-4 col-sm-2">
                        <div class="product-card mb-48">
                            <img src="/assets/images/product-3.png" alt="Melty Kiss" class="mb-12">
                            <h6 class="mb-4">VMelty Kiss</h6>
                            <p>NT$4,000</p>
                        </div>
                    </div>
                    <div class=" col-4 col-sm-2">
                        <div class="product-card mb-48">
                            <img src="/assets/images/product-4.png" alt="BOOMBLOK" class="mb-12">
                            <h6 class="mb-4">BOOMBLOK</h6>
                            <p>NT$3,200</p>
                        </div>
                    </div>
                    <div class=" col-4 col-sm-2">
                        <div class="product-card mb-48">
                            <img src="/assets/images/product-5.png" alt="BOOMBLOK" class="mb-12">
                            <h6 class="mb-4">BOOMBLOK</h6>
                            <p>NT$3,200</p>
                        </div>
                    </div>
                    <div class=" col-4 col-sm-2">
                        <div class="product-card mb-48">
                            <img src="/assets/images/product-6.png" alt="R:UNER" class="mb-12">
                            <h6 class="mb-4">R:UNER</h6>
                            <p>NT$4,000</p>
                        </div>

                    </div>
                    <div class=" col-4 col-sm-2">
                        <div class="product-card mb-48">
                            <img src="/assets/images/product-7.png" alt="Sugar Snap" class="mb-12">
                            <h6 class="mb-4">Sugar Snap</h6>
                            <p>NT$4,000</p>
                        </div>
                    </div>
                    <div class=" col-4 col-sm-2">
                        <div class="product-card mb-48">
                            <img src="/assets/images/product-8.png" alt="Neofoam" class="mb-12">
                            <h6 class="mb-4">Neofoam</h6>
                            <p>NT$4,000</p>
                        </div>
                    </div>
                </div>
                <div class="page  d-flex ">
                    <ul class=" d-flex ">
                        <li>
                            <a href="#" class="mr-12">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                            </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="mr-8">
                            1
                            </a>
                        </li>
                        <li>
                            <a href="#" class="mr-8">
                            2
                            </a>
                        </li>
                        
                        <li>
                            <a href="#" class="mr-8 dn">
                            3
                            </a>
                        </li>
                        <li>
                            <a href="#" class="mr-8">...</a>
                        </li>
                        
                        <li>
                            <a href="#" class="mr-12">
                            10
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                            </a>
                        </li>
                        
                    </ul>
                    
                    
                </div>


            </div>
        </div>
        
        
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
